<div class="row">
    <div class="col-sm">
      <a class="category-link" href="/category/math"><div class="shadow p-3 mb-5 bg-white rounded category"><h3>🧮 Math</h3></div></a>
    </div>
    <div class="col-sm">
      <a class="category-link" href="/category/science"><div class="shadow p-3 mb-5 bg-white rounded category"><h3>🧪 Science</h3></div></a>
    </div>
    <div class="col-sm">
      <a class="category-link" href="/category/english"><div class="shadow p-3 mb-5 bg-white rounded category"><h3>📖 English</h3></div></a>
    </div>
  </div>
  <div class="row">
      <div class="col-sm">
        <a class="category-link" href="/category/languages"><div class="shadow p-3 mb-5 bg-white rounded category"><h3>🗣 Languages</h3></div></a>
      </div>
      <div class="col-sm">
        <a class="category-link" href="/category/standardized"><div class="shadow p-3 mb-5 bg-white rounded category"><h3>📝 SAT & ACT</h3></div></a>
      </div>
      <div class="col-sm">
        <a class="category-link" href="/category/history"><div class="shadow p-3 mb-5 bg-white rounded category"><h3>📗 History</h3></div></a>
      </div>
    </div>