{% extends 'layout.html' %}
{% block title %}About{% endblock %}
{% block body %}
<div class="container">
    <h1 class="title"><b>🤷‍♂️ <u>About</u></b></h1>
    <br />
    <h4 class="title-description">How'd we get here?</h4>
</div>
<br />
<div class="container">
    <hr />
    <br />
    <p class="letter">Salutations.</p>
    <p class="letter">The idea for Edudate first came to me around the middle of my junior year of high school. Around this time, I was officially in charge of our high school’s Mu Alpha Theta honor society and never looked back. Of course, I wanted to implement initiatives that were grandiose and far-reaching, with one of the ideas being a peer-to-peer tutoring network.</p>
    <p class="letter">One of the observations I always make when observing my friends tutor other students is that they almost always tutor other friends -- rarely would they go out and willingly scream to others that they were available. As a result, if their friends had tight schedules, their tutoring hours were delayed, even if they had ample time to spare.</p>
    <p class="letter">Furthermore, come the end of the year or end of the semester, everyone would simply be rushing to get their tutoring hours, calling mere conversations “educational experiences” and racking in no meaningful service time.</p>
    <p class="letter">On the other hand, in a perfect world, no one would need tutoring -- everyone would have straight A’s. I always knew that many students were actively searching for tutoring; however, many simply didn’t know whom to reach out to.</p>
    <p class="letter">Likewise, many of my friends have actively sought out independent tutors at steep prices with degrees from the finest institutions in the country. While some have succeeded, others were seemingly odd fits and personalities.</p>
    <p class="letter">In fact, I found that even though I didn’t have the academic experience or knowledge as some of these other tutors, the fact that my personality was compatible with that of my friend would make quite the difference -- as indicated by improved class and standardized test scores.</p>
    <p class="letter">Hence, Edudate is a platform not merely for finding academic help. Assuredly, we want to augment your test scores; with that being said, it is more important to us that we help you find new friends, make new connections, and feel comfortable asking the right questions.</p>
    <p class="letter">Let’s make learning social.</p>
        <img src="/assets/PondocSignature.png" height="75px"/>
    <p class="letter">~Chris Pondoc, Creator of Edudate</p>
</div>
<br />
<br />
{% endblock %}
