{% extends 'layout.html' %}
{% block title %}Contact{% endblock %}
{% block body %}
<div class="container">
    <h1 class="title"><b>📨 <u>Contact</u></b></h1>
    <br />
    <h4 class="title-description">Looking to reach out to us as an educator, student, or fan of the platform? Just fill out this quick form!</h4>
</div>
<br />
<br />
<div class="container" style="text-align: center;">
    <iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSe7UnNuQ3BE2QT-uNZf5HqM2vSjUWTBYWZ0C7HgdVR5N84SRA/viewform?embedded=true" width="640" height="1050" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
{% endblock %}