{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm image-div">
                <img src="/assets/title-image.png" height="400px"/>
            </div>
            <div class="col-sm">
                <br />
                <br />
                <br />
                <h1 class="title"><b><u>Learning Made Social</u></b></h1>
                <br />
                <h4 class="title-description">Better your education by utilizing your best resource: your peers.</h4>
                <br />
                <a href="/about"><button type="button" class="btn btn-dark">Learn our "Why" →</button></a>
            </div>
        </div>
    </div>
        <br />
        <br />
        <div class="container-fluid gray">
            <br />
            <br />
            <div class="row">
                <div class="col-sm on-left">
                    <br />
                    <br />
                    <br />
                    <br />
                    <h1 class="title"><b><u>Find Peer Tutors</b></u></h1>
                    <br />
                    <h4 class="title-description">Connect to students who are well-versed in their subject and a great pal.</h4>
                    <br />
                    <a href="/tutors"><button type="button" class="btn btn-dark">Find Peers →</button></a>
                </div>
                <div class="col-sm image-div">
                    <img src="/assets/peer-to-peer.png" height="425px"/>
                </div>
            </div>
            <br />
            <br />
    </div>
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm image-div">
                <img src="/assets/student-events.png" height="400px"/>
            </div>
            <div class="col-sm">
                <br />
                <br />
                <br />
                <h1 class="title"><b><u>Participate in Student Organized Events</u></b></h1>
                <br />
                <h4 class="title-description">Take part in student-led workshops, webinars, bootcamps, and more.</h4>
                <br />
                <a href="/events"><button type="button" class="btn btn-dark">Discover Events →</button></a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container-fluid gray">
        <div class="container call-to-action">
            <br />
            <br />
            <br />
            <h1 class="call-to"><b><u>Looking to get involved?</b></u></h1>
            <h4 class="call-to-description">We're always looking for great educators and student ambassadors to join us.</h4>
            <br />
            <a href="/contact"><button type="button" class="btn btn-dark">Get Involved →</button></a>
            <br />
        </div>
        <br />
        <br />
    </div>
{% endblock %}
